extends ./layout.jade
  
block content
  header.jumbotron
    h1 To Do
  .container
    article
      h3 Add a Task
      form(id="new-task", class="form")
        .form-group.col-md-8
          input(type="text", id="task-name", class="form-control", placeholder="Name")
        .form-group.col-md-8
          input(type="text", id="task-description", class="form-control", placeholder="Description")
        .form-group.col-md-8
          input(type="text", id="task-deadline", class="form-control", placeholder="Deadline")
          br
          button(type="submit", class="btn btn-info") Add Task
        
    #not-done-div.col-md-6
      h3 Not Done
      ul(id="not-done")
    #done-div.col-md-6
      h3 Done  
      ul(id="done")
